h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
.inputArea{
    font-family: 'Geneva', sans-serif;
    font-size: 16px;
    text-align: left;
}
body{
    width: 25%;
    max-width: 800px;
    min-width: 480px;
}
.lastResult {
    color: bisque;
    padding: 3px;
}
